/* all */
body, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'notosanskr';
}
.desktop_inlineBlock {
    display: none !important;
}
.mobile_inlineBlock {
    display: none;
}
.blind {
    display: none;
}
.textSet .subTitle {
    display: none;
}

/* all section title */
h3 {
    /* border: 3px solid blue; */
    width: 80%;
    margin: 50px auto 14px;
    font-family: 'Montserrat';
    font-size: 40px;
    text-align: center;
}

/* header */
#navbar1 {
    /* border: 3px solid red; */
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    margin-top: 8px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}
#mobileSidebar {
    display: block;
    width: 24px;
    height: 18px;
    background-image: url("../images/mobile-sidebar.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
#logo {
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-image: url("../images/logo_black.svg");
    background-size: contain;
    /* 백그라운드 사이즈가 잘리지 않고 다 보이게 */
    background-repeat: no-repeat;
}

/* search filter design */
#search-wrap {
    /* border: 3px solid reds; */
    width: 430px;
    border-bottom: 2px solid #000;
}
.search-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-content input {
    width: 90%;
    font-size: 15px;
    padding: 4px;
    border: none;
    /* text-indent: 5px; - 들여쓰기 */
}
.search-content button {
    /* border: 3px solid red; */
    padding: 12px;
    margin-bottom: 4px;
    background-position: center;
    background-color: transparent;
    background-image: url(../images/search-bold.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    border: none;
    cursor: pointer;
}
.search-content input:focus {
    outline: none;
}
.search-content ::placeholder {
    color: #000;
}

/* utility icon */
.li-inline-icon {
    padding: 0;
    margin: 0;
}
.li-inline-icon li {
    /* border: 3px solid blueviolet; */
    display: inline-block;
}
.li-inline-icon img {
    /* border: 3px solid green; */
    width: 20px;
}

#navbar2 {
    /* border: 3px solid red; */
    width: 100%;
    height: 50px;
    margin: auto;
    background-color:#000;
}
#navbar2 .li-inline {
    /* border: 3px solid green; */
    display: flex;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
#navbar2 .li-inline li {
    /* border: 3px solid blue; */
    list-style: none;
    font-weight: 600;
    font-size: 16px;
}
#navbar2 .li-inline .menuLink {
    /* border: 3px solid green; */
    text-decoration: none;
}
/* 메뉴 하이퍼링크 초기화 */
#navbar2 .li-inline .menuLink:visited {
    color: #fff;
}
#navbar2 .li-inline .menuLink:hover {
    color: #dd0606;
}

/* section1 - main visual */
.container .item {
    /* border: 3px solid blue; */
    position: relative;
}
.container .item img {
    width: 100%;
    /* position: relative; */
}
.container .item .textSet {
    border: 3px solid orange;
    width: 80%;
    height: fit-content;
    /* display: block; */
    /* justify-content: space-between; */
    position: absolute;
    /* margin: 0 auto; */
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
}
.container .item .textSet .category {
    display: inline-block;
    width: fit-content;
    padding: 2px 6px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #DD0606;
    color: white;
    border-radius: 4px;
}
.textSet .mainTitle {
    font-size: 32px;
    padding: 12px 0;
    word-break: keep-all;
}
.textSet .subTitle {
    font-size: 8px;
    font-weight: 500;
}

/* section2 - magazine */
.magazine {
    border: 3px solid green;
    width: 100%;
    height: 250px;
}
#magazine-gnb {
    border: 3px solid red;
    width: 80%;
    margin: 0 auto;
}
.magazine-li-inline {
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.magazine-li-inline li {
    /* border: 3px solid orange; */
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.menuLink2 {
    /* border: 3px solid green; */
    text-decoration: none;
}
/* 메뉴 하이퍼링크 초기화 */b 
.menuLink2:visited {
    color: #000;
}
.menuLink2:hover {
    color: #dd0606;
}




/* ------------ 아이폰 + 아이패드 + 데스크탑 ------------ */

    /* 375 iPhone 6/7/8 */
    @media screen and (min-width: 375px) {
        .mobile_inlineBlock {
            display: inline-block;
        }
    }

    /* 414 iPhone 6/7/8 Plus */
    @media screen and (min-width: 414px) {

    }

    /* 768 - 아이패드 */
    @media screen and (min-width: 768px) {
        .container .item .textSet {
            bottom: 80px;
        }
        .container .item .textSet .category {
            font-size: 24px;
        }
        .textSet .mainTitle {
            font-size: 50px;
        }
        .magazine {
            height: 220px;
            }
        }
        #magazine-gnb {
            /* border: 3px solid red; */
            width: 70%;
            margin: 0 auto;
        }
        .magazine h3 {
            font-size: 60px;
            margin: 60px auto 18px;
        }
        .magazine-li-inline li {
            font-size: 24px;
        }


    /* 1024 - 아이패드pro - 1024부터 데스크탑ver*/
    @media screen and (min-width: 1024px) {
        .desktop_inlineBlock {
            display: inline-block !important;
        }
        .mobile_inlineBlock {
            display: none !important;
        }
        #navbar2 .li-inline li {
            font-size: 16px;
        }
        .container .item .textSet {
            border: 3px solid orange;
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #000;
        }
        .container .item .textSet .category {
            display: inline;
            font-size: 14px;
        }
        .textSet .mainTitle {
            font-size: 35px;
            padding: 12px 0;
            word-break: keep-all;
            text-align: center;
        }
        .textSet .subTitle {
            display: block;
            font-size: 14px;
            font-weight: 500;
        }
        .magazine h3 {
            font-size: 70px;
            margin: 60px auto 24px;
        }
        .magazine-li-inline li {
            font-size: 26px;
        }
        
    }

    /* 1440 - 태블릿 가로ver(데스크탑이랑 동일)*/
    @media screen and (min-width: 1440px) {
        .magazine {
            height: 300px;
        }
        .magazine h3 {
            font-size: 80px;
            margin: 80px auto 30px;
        }
        .magazine-li-inline li {
            font-size: 32px;
        }
    }