/* 공통 */
body, h1, h2, h3, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'notosanskr';
}

.desktop_inlineBlock {
    display: none !important;
}

.blind {
    display: none;
}

/* 섹션별 제목 */
h3 {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-family: 'Montserrat';
}

/* nav1 */
#navbar1 {
    /* border: 3px solid red; */
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
    align-items: center;
}

#mobileMenu a {
    display: block;
    width: 90px;
    height: 30px;
    background-image: url("../images/mobile_sidebar.svg");
    background-size: contain;
    /* 백그라운드 사이즈가 잘리지 않고 다 보이게 */
    background-repeat: no-repeat;
}
#logo a {
    display: block;
    width: 90px;
    height: 30px;
    background-image: url("../images/logo_black.svg");
    background-size: contain;
    /* 백그라운드 사이즈가 잘리지 않고 다 보이게 */
    background-repeat: no-repeat;
}

/* 검색창 */
#top_search {
    height: 32px;
    border-bottom: 2px solid #000;
}
#top_search input {
    width: 420px;
    /* height: 18px; */
    /* display: block; */
    /* float: left; */
    border: none;
    line-height: 33px;
    text-indent: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    outline: none;
    background-color: transparent;
}
::placeholder {
    color: #000;
}

#top_search .btn_search {
    /* border: 3px solid blue; */
    padding: 10px;
    text-indent: -9999px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#top_search .icon-search {
    /* border: 3px solid red; */
    background-image: url(/images/search-bold.svg);
    background-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

/* utility icon */
.utility-icon li {
    /* border: 3px solid blueviolet; */
    display: inline-block;
}

.li-inline-icon img {
    /* border: 3px solid green; */
    width: 22px;
}

/* nav2 */
.navbar2 {
    /* border: 3px solid red; */
    width: 100%;
    height: 50px;
    margin: auto;
    background-color:#000;
}
.li-inline {
    /* border: 3px solid green; */
    display: flex;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.li-inline li {
    /* border: 3px solid blue; */
    list-style: none;
    /* text-align: center; */
    /* line-height: 30px; */
    font-weight: 600;
    font-size: 18px;
    font-family: 'notosanskr';
    color: white;
}
.menuLink {
    /* border: 3px solid green; */
    text-decoration: none;
}

/* 메뉴 클릭시 보라색으로 변하는 거 방지 */
.menuLink:visited {
    color: #fff;
}

.menuLink:hover {
    color: #dd0606;
}

/* 섹션1 - 메인비주얼 */
.gallery {
    width: 100%;
}

.gallery .item {
    /* border: 3px solid blue; */
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.textSet {
    /* border: 3px solid orange; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.textSet .category {
    width: 90px;
    height: 30px;
    line-height: 32px;
    /* 중간정렬 */
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #DD0606;
    color: white;
    border-radius: 4px;
}

.textSet .mainTitle {
        font-size: 60px;
        margin: 10px 0;
}

.textSet .subTitle {
    /* border: 3px solid red; */
    font-size: 20px;
    font-weight: 500;
    margin-top: 14px;
    text-indent: 10px;   
}

.gallery .item .textSet a:hover {
    background-color: black;
}


/* 섹션2 - 매거진 */
.magazine-li-inline {
    /* border: 3px solid red; */
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}
.magazine-li-inline li {
    /* border: 3px solid blue; */
    width: 150px;
    text-align: center;
    float: left;
    list-style: none;
    color: #000;
}

/* 페이지 처음 들어갔을 때 전체에만 색상 들어가게 */
.menuLink2 {
    /* border: 3px solid red; */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color:#000;
}
.menuLink2:hover {
    color: #dd0606;
}
















/* ------------ 아이폰 + 아이패드 + 데스크탑 ------------ */
/* 1440 이후부터 햄버거바 보이게 */

/* 375 iPhone 6/7/8 */
@media screen and (min-width: 375px) {
    #navbar1 {
        border: 1px solid blue;
        width: 90%;
        height: 50px;
        display: flex;
        /* justify-content: space-between; */
        margin: auto;
        background-color: #fff;
        align-items: center;
    }
    #mobileMenu a {
        border: 1px solid green;
        display: block;
        width: 30px;
        height: 20px;
        background-image: url("../images/mobile-sidebar.svg");
        background-size: contain;
        /* 백그라운드 사이즈가 잘리지 않고 다 보이게 */
        background-repeat: no-repeat;
    }
    #logo a {
        border: 1px solid red;
        display: block;
        width: 70px;
        height: 25px;
        background-image: url("../images/logo_black.svg");
        background-size: contain;
        /* 백그라운드 사이즈가 잘리지 않고 다 보이게 */
        background-repeat: no-repeat;
    }

    #top_search .btn-search {
       border: 1px solid orange;
       /* background-color: #fff; */
    }
}

/* 414 iPhone 6/7/8 Plus */
@media screen and (min-width: 414px) {

}



 /* 768 - 아이패드 */
 @media screen and (min-width: 768px) {
    
}


/* 1024 */
@media screen and (min-width: 1024px) {
    .desktop_inlineBlock {
        display: inline-block !important;
    }

    .mobile_inlineBlock {
        display: none !important;
    }
}